extends layout.pug

block cssLinks
    link(rel="stylesheet" href="/styles/recipeCardDeck.css")

block scripts
    script(src="/Elements/RecipeCardDeck.js")

block content
    recipe-card-deck(recipes=recipes, isPaginated=JSON.stringify(isPaginated))