extends layout.pug

block cssLinks
	link(rel="stylesheet" href="/styles/notfound.css")

block scripts
	script(src="/Elements/RecipeCardDeck.js")

block content
	div.container
		div.row
			div.col-md-12
				div.error-wrapper
					h1 Oops!
					h2 404 Page not found
