extends layout.pug

block metaTags
    meta(property="og:image" content=image)
    meta(property="og:description" content="Recipe to make delicious " + recipeName)

block cssLinks
    link(rel="stylesheet" href="/styles/recipe.css" media="screen")
    link(rel="stylesheet" href="/styles/print.css" type="text/css" media="print")

block scripts
    script(src="/Elements/Recipe.js")

block content
    recipe-element(recipeName=recipeName, recipe=recipe)
