extends layout.pug

block cssLinks
    link(rel="stylesheet" href="/styles/form.css")
    link(rel="stylesheet" href="/styles/uploadForm.css")

block scripts
    script(src="/Elements/UploadForm.js")

block content
    upload-recipe-form