recipe-picker-form-populater #recipePicker {
	margin-left: 100px;
	margin-top: 80px;
    transition: 0.5s margin;
}

@media screen and (max-width: 559px) {
    recipe-picker-form-populater #recipePicker {
        margin-left: 5px;
        margin-top: 10px;
    }
}