.form-control {
    background-color: var(--dark-theme-form-control-bg, initial);
    border-color: var(--dark-theme-form-control-border-color, initial);
    color: var(--dark-theme-form-text-color, initial);
}

.form-control:disabled {
    background-color: var(--dark-theme-form-control-bg, initial);
}

.form-control:focus {
    background-color: initial;
    color: var(--dark-theme-form-text-color, initial);
}

select {
    background-color: var(--dark-theme-form-select-bg, initial);
    color: var(--dark-theme-form-text-color, initial);
}

select option {
}