#recipeGrid {
    display: inline-block;
}

#recipeGrid .grid-card {
    display: inline-block;
    position: relative;
    box-sizing: border-box;

    width: 20%;
    height: 160px;

    color: inherit;
    text-decoration: none;
}

#recipeGrid .grid-card .grid-card-image {
    object-fit: cover;
    width: 100%;
    height: 100%;

    border: 4px solid var(--dark-theme-bg, rgb(255, 255, 255));

    opacity: 0;

    transition: 0.25s opacity;
    transition-delay: var(--delay);
}

#recipeGrid.loaded .grid-card .grid-card-image {
    opacity: 1;
}

#recipeGrid .grid-card .grid-card-title {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    
    text-align: center;
    font-size: 20px;
    padding: 6px;

    margin: 4px;
    background-image: linear-gradient(white, rgb(255, 255, 255, 0));

    opacity: 0;
    transition: 0.6s opacity;
}

#recipeGrid .grid-card:hover .grid-card-title {
    opacity: 1;
}

@media screen and (max-width: 500px) {
    #recipeGrid .grid-card {
        width: 50%;
    }
}

@media screen and (min-width: 500px) {
    #recipeGrid .grid-card {
        width: 33%;
    }
}

@media screen and (min-width: 850px) {
    #recipeGrid .grid-card {
        width: 25%;
    }
}

@media screen and (min-width: 1000px) {
    #recipeGrid .grid-card {
        width: 20%;
    }
}