#formWrapper {
    padding: 100px;
    transition: 0.5s padding;
    color: var(--dark-theme-form-text-color, initial);
}

@media screen and (max-width: 559px) {
    #formWrapper {
        padding: 10px;
    }
}